__pycache__
.env
.learn
.venv
.venv2
.venv3
.venv314
.venv310
.venv3129
.classenv

/raw
configsql.cfg
.nuevo_entorno
.venvxgboost
.venvSVM
*.sav
*.csv
*.dta
/models
testclean
/src/PASO5/VariablesTarget/*.pkl
/src/PASO5/VariablesTarget/*.csv
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/SplitHappy_3c.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/SplitHappy3c.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/SplitHappy5c.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/SplitLrscale3c.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/SplitLrscale5c.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/TrTtHappystd.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/TrTtLrscalestd.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/TrTtLrscalereg.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/TrTtHappymmx.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/TrTtHappyreg.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/Lr010.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/Happy010.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/Happy05ord.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/Lr05ord.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/Splitlrscale5cTomek.pkl
src/PASO5/VariablesTarget/testing/HappyLrscalePolintr/SplitLrscale.pkl