__pycache__
.env
.learn
.venv
.venv2
.venv3
.venv314
.venv310
.venv3129
.classenv
/models
/raw
configsql.cfg
.nuevo_entorno
.venvxgboost
.venvSVM
/4GA.Datascience/4GA.DataScience/src/PASO5/VariablesTarget/