# Bibliotecas de Nivel Base
numpy==1.26.4
Pillow==10.1.0
requests==2.31.0
urllib3==2.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
six==1.17.0
python-dateutil==2.9.0.post0
pytz==2025.1
tzdata==2025.1
packaging==23.2
platformdirs==4.3.7
zipp==3.21.0
typing_extensions==4.12.2
attrs==25.3.0
jsonschema-specifications==2024.10.1
referencing==0.36.2
rpds-py==0.23.1
tenacity==8.5.0
toolz==0.12.1
wcwidth==0.2.13
prompt_toolkit==3.0.50
colorama==0.4.6
blinker==1.9.0
protobuf==4.25.6
psutil==7.0.0
greenlet==3.1.1
SQLAlchemy==2.0.39
PyMySQL==1.1.1
pywin32==310
opencv-python==4.11.0.86
asttokens==3.0.0
executing==2.2.0
pure_eval==0.2.3
stack-data==0.6.3
debugpy==1.8.13
parso==0.8.4
jedi==0.19.2
sympy==1.13.3
mpmath==1.3.0
fonttools==4.56.0
kiwisolver==1.4.8
cycler==0.12.1
contourpy==1.3.1
validators==0.34.0
gitdb==4.0.12
smmap==5.0.2
GitPython==3.1.44
watchdog==6.0.0
nest-asyncio==1.6.0
traitlets==5.14.3
traittypes==0.2.1
comm==0.2.2
ipykernel==6.29.5
jupyter_client==8.6.3
jupyter_core==5.7.2
matplotlib-inline==0.1.7
ipython==8.34.0
widgetsnbextension==4.0.13
jupyterlab_widgets==3.0.13
ipywidgets==8.1.5
traitlets==5.14.3
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.19.1
Jinja2==3.1.6
MarkupSafe==3.0.2
tornado==6.2
click==8.1.8
toml==0.10.2
python-dotenv==1.0.1
pyzmq==26.3.0
tzlocal==5.3.1
threadpoolctl==3.6.0
joblib==1.4.2
scipy==1.15.2
scikit-learn==1.5.2
pandas==2.1.4
pyarrow==19.0.1
seaborn==0.13.2
matplotlib==3.8.2
altair==5.5.0
branca==0.8.1
cachetools==5.5.2
decorator==5.2.1
exceptiongroup==1.2.2
importlib-metadata==6.11.0
ipyleaflet==0.19.2
jsonschema==4.23.0
jupyter-leaflet==0.19.2
narwhals==1.31.0
pydeck==0.9.1
rich==13.9.4
streamlit==1.29.0
xgboost==3.0.0
xyzservices==2025.1.0
